@import './colors';

$padding: 8px;
$padding-double: $padding * 2;
$padding-triple: $padding * 3;
$padding-quadruple: $padding * 4;

$margin: 8px;
$margin-half: $margin/2;
$margin-double: $margin * 2;
$margin-triple: $margin * 3;

$border-radius: 8px;

$input-field-height: 52px;
